#alzado {
    position: absolute;
    left: 25px;
    top: 250px;
    transform-origin: 0 0;
    transform: scale(.65, .65);
}

#base {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 55px;
    left: 15px;
    background-color: #FF9900;
}

#tierra {
    width: 80px;
    height: 65px;
    position: absolute;
    bottom: 0;
    background-color: #CC0000;
}


/* Barra 1 */
#barra1Cont {
    position: absolute;
    bottom: 77.5px;
    left: 40px;
    transform-origin: 0 7.5px;
}

#barra1 {
    width: 250px;
    height: 15px;
    background-color: #CC0000;
}


/* Barra 2 */
#barra2 {
    width: 250px;
    height: 15px;
    position: absolute;
    bottom: 77.5px;
    left: 290px;
    background-color: #CC0000;
    transform-origin: 0 7.5px;
}


/* Pinza */
#pinzaCont {
    position: absolute;
    bottom: 45px;
    left: 515px;
}

#pinza {
    width: 10px;
    height: 40px;
    position: absolute;
    top: -40px;
    left: 20px;
    background-color: #CC0000;
}

#piezaPinza {
    width: 30px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 12px;
    background-color: #2B6587;
    display: none;
}

#tenaza {
    width: 50px;
    height: 10px;
    position: absolute;
    top: 390px;
    left: 530px;
    background-color: #0000FF;
}

#tenazas_h {
    width: 50px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0000FF;
}

#tenazas_v1 {
    width: 10px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0000FF;
    transform-origin: 0 0;
}

#tenazas_v2 {
    width: 10px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 40px;
    background-color: #0000FF;
}


/* Articulaciones */
#articulacion {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: Black;
}

#articulacionPos1 {
    position: absolute;
    left: 235px;
    bottom: -7.5px;
}

#articulacionPos2 {
    position: absolute;
    left: 10px;
    bottom: 25px;
}


/* Almacén de piezas. */
#almacen * {
    width: 30px;
    height: 20px;
    position: absolute;
    left: 406px;
    background-color: #2b6587;
}

#almacen {
    opacity: 0.1;
    transition: opacity 2s;
    transition-timing-function: easy-in;
}

#almacenPieza0 {
    bottom: 72px;
}

#almacenPieza1 {
    bottom: 48px;
}

#almacenPieza2 {
    bottom: 24px;
}

#almacenPieza3 {
    bottom: 0;
}


/* Piezas tablero. */
#tablero {
    opacity: 0.1;
    transition: opacity 2s;
    transition-timing-function: easy-in;
}

#tablero * {
    width: 30px;
    height: 20px;
    position: absolute;
    bottom: 0;
    background-color: #2B6587;
    display: none;
}

#tableroPieza0 {
    left: 170px;
}

#tableroPieza1 {
    left: 215px;
}

#tableroPieza2 {
    left: 260px;
}


/* Control de velocidad. */
#velocidad {
    position: absolute;
    top: 425px;
    left: 375px;
}
